In [3]:
import requests
from bs4 import BeautifulSoup

URL = "https://finance.naver.com/item/main.nhn?code=005930"

samsung_electronic = requests.get(URL)
html = samsung_electronic.text   # 이건 왜 텍스트로 받았지?

soup = BeautifulSoup(html, 'html.parser')

finance_html = soup.select('div.section.cop_analysis div.sub_section')
# css selector를 통해서 받아 리스트화 함 >> 내가 선택한 테이블(하위까지 다) 선택해서 함

print(finance_html)

[<div class="sub_section">
<table class="tb_type1 tb_num tb_type1_ifrs" summary="기업실적분석에 관한표이며 주요재무정보를 최근 연간 실적, 분기 실적에 따라 정보를 제공합니다.">
<caption>기업실적분석 테이블</caption>
<colgroup>
<col width="86"/>
<col width="59"/>
<col width="59"/>
<col width="59"/>
<col width="62"/>
<col width="58"/>
<col width="58"/>
<col width="58"/>
<col width="58"/>
<col/>
</colgroup>
<thead>
<tr class="t_line">
<th class="h_th2 th_cop_anal5 b_line" rowspan="3"><strong>주요재무정보</strong></th>
<th class="h_th2 th_cop_anal6" colspan="4" scope="col"><strong>최근 연간 실적</strong></th>
<th class="h_th2 th_cop_anal7 last" colspan="6" scope="col"><strong>최근 분기 실적</strong></th>
</tr>
<tr>
<th class="" scope="col">
											2016.12
										</th>
<th class="" scope="col">
											2017.12
										</th>
<th class="" scope="col">
											2018.12
										</th>
<th class="t_line cell_strong" scope="col">
											2019.12<em>(E)</em>
</th>
<th class="" scope="col">
											2018.09
										</th>
<th class="" scope="col">
											2018.12
										</th>
<th class="" scope="col">
											2019.03
										</th>
<th class="" scope="col">
											2019.06
										</th>
<th class="" scope="col">
											2019.09
										</th>
<th class="last cell_strong" scope="col">
											2019.12<em>(E)</em>
</th>
</tr>
<tr class="b_line">
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs t_line cell_strong" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs last cell_strong" scope="col"><span>



											IFRS연결

									</span></th>
</tr>
</thead>
<tbody>
<tr>
<th class="h_th2 th_cop_anal8" scope="row"><strong>매출액</strong></th>
<td class="">



				2,018,667


										</td>
<td class="">



				2,395,754


										</td>
<td class="">



				2,437,714


										</td>
<td class="t_line cell_strong">



				2,314,511


										</td>
<td class="">



				654,600


										</td>
<td class="">



				592,650


										</td>
<td class="">



				523,855


										</td>
<td class="">



				561,271


										</td>
<td class="">



				620,035


										</td>
<td class="last cell_strong">



				610,260


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal9" scope="row"><strong>영업이익</strong></th>
<td class="">



				292,407


										</td>
<td class="">



				536,450


										</td>
<td class="">



				588,867


										</td>
<td class="t_line cell_strong">



				271,545


										</td>
<td class="">



				175,749


										</td>
<td class="">



				108,006


										</td>
<td class="">



				62,333


										</td>
<td class="">



				65,971


										</td>
<td class="">



				77,779


										</td>
<td class="last cell_strong">



				65,771


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal10" scope="row"><strong>당기순이익</strong></th>
<td class="">



				227,261


										</td>
<td class="">



				421,867


										</td>
<td class="">



				443,449


										</td>
<td class="t_line cell_strong">



				219,561


										</td>
<td class="">



				131,507


										</td>
<td class="">



				84,622


										</td>
<td class="">



				50,436


										</td>
<td class="">



				51,806


										</td>
<td class="">



				62,877


										</td>
<td class="last cell_strong">



				55,948


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal11" scope="row"><strong>영업이익률</strong></th>
<td class="">



				14.49


										</td>
<td class="">



				22.39


										</td>
<td class="">



				24.16


										</td>
<td class="t_line cell_strong">



				11.73


										</td>
<td class="">



				26.85


										</td>
<td class="">



				18.22


										</td>
<td class="">



				11.90


										</td>
<td class="">



				11.75


										</td>
<td class="">



				12.54


										</td>
<td class="last cell_strong">



				10.78


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal12" scope="row"><strong>순이익률</strong></th>
<td class="">



				11.26


										</td>
<td class="">



				17.61


										</td>
<td class="">



				18.19


										</td>
<td class="t_line cell_strong">



				9.49


										</td>
<td class="">



				20.09


										</td>
<td class="">



				14.28


										</td>
<td class="">



				9.63


										</td>
<td class="">



				9.23


										</td>
<td class="">



				10.14


										</td>
<td class="last cell_strong">



				9.17


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal13" scope="row"><strong>ROE(지배주주)</strong></th>
<td class="">



				12.48


										</td>
<td class="">



				21.01


										</td>
<td class="">



				19.63


										</td>
<td class="t_line cell_strong">



				8.77


										</td>
<td class="">



				21.73


										</td>
<td class="">



				19.63


										</td>
<td class="">



				16.21


										</td>
<td class="">



				13.24


										</td>
<td class="">



				10.05


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal14" scope="row"><strong>부채비율</strong></th>
<td class="">



				35.87


										</td>
<td class="">



				40.68


										</td>
<td class="">



				36.97


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				39.28


										</td>
<td class="">



				36.97


										</td>
<td class="">



				36.28


										</td>
<td class="">



				33.05


										</td>
<td class="">



				34.14


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal15" scope="row"><strong>당좌비율</strong></th>
<td class="">



				223.46


										</td>
<td class="">



				181.61


										</td>
<td class="">



				204.12


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				198.16


										</td>
<td class="">



				204.12


										</td>
<td class="">



				209.25


										</td>
<td class="">



				230.74


										</td>
<td class="">



				235.80


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal16" scope="row"><strong>유보율</strong></th>
<td class="">



				22,004.14


										</td>
<td class="">



				24,536.12


										</td>
<td class="">



				27,531.92


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				27,412.63


										</td>
<td class="">



				27,531.92


										</td>
<td class="">



				27,832.98


										</td>
<td class="">



				28,129.35


										</td>
<td class="">



				28,541.64


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal17" scope="row"><strong>EPS(원)</strong></th>
<td class="">



				2,735


										</td>
<td class="">



				5,421


										</td>
<td class="">



				6,024


										</td>
<td class="t_line cell_strong">



				3,194


										</td>
<td class="">



				1,771


										</td>
<td class="">



				1,163


										</td>
<td class="">



				752


										</td>
<td class="">



				746


										</td>
<td class="">



				899


										</td>
<td class="last cell_strong">



				712


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal20" scope="row"><strong>PER(배)</strong></th>
<td class="">



				13.18


										</td>
<td class="">



				9.40


										</td>
<td class="">



				6.42


										</td>
<td class="t_line cell_strong">



				17.75


										</td>
<td class="">



				7.17


										</td>
<td class="">



				6.42


										</td>
<td class="">



				8.54


										</td>
<td class="">



				10.48


										</td>
<td class="">



				13.73


										</td>
<td class="last cell_strong">



				79.67


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal18" scope="row"><strong>BPS(원)</strong></th>
<td class="">



				26,636


										</td>
<td class="">



				30,427


										</td>
<td class="">



				35,342


										</td>
<td class="t_line cell_strong">



				37,456


										</td>
<td class="">



				34,519


										</td>
<td class="">



				35,342


										</td>
<td class="">



				36,142


										</td>
<td class="">



				36,789


										</td>
<td class="">



				37,600


										</td>
<td class="last cell_strong">



				37,456


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal21" scope="row"><strong>PBR(배)</strong></th>
<td class="">



				1.35


										</td>
<td class="">



				1.67


										</td>
<td class="">



				1.10


										</td>
<td class="t_line cell_strong">



				1.51


										</td>
<td class="">



				1.35


										</td>
<td class="">



				1.10


										</td>
<td class="">



				1.24


										</td>
<td class="">



				1.28


										</td>
<td class="">



				1.30


										</td>
<td class="last cell_strong">



				1.51


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal19" scope="row"><strong>주당배당금(원)</strong></th>
<td class="">


				570


										</td>
<td class="">


				850


										</td>
<td class="">


				1,416


										</td>
<td class="t_line cell_strong">


				1,419


										</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal22" scope="row"><strong>시가배당률(%)</strong></th>
<td class="">


				1.58


										</td>
<td class="">


				1.67


										</td>
<td class="">


				3.66


										</td>
<td class="no_data 2 t_line cell_strong">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal23" scope="row"><strong>배당성향(%)</strong></th>
<td class="">


				17.81


										</td>
<td class="">


				14.09


										</td>
<td class="">


				21.92


										</td>
<td class="no_data 2 t_line cell_strong">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
</tbody>
</table>
</div>]